{% extends 'base.html' %}


{% block main_page_title %}
    Dashboard
{% endblock main_page_title %}
    

{% block main_page_content %}
    <div class="row">

        <!-- /.col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
    
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat bg-success" href="{% url 'subjects:subject_list' %}">
                <span class="number counter">{{ approved }}</span>
                <span class="name">Courses Approved</span>
                <span class="bg-icon"><i class="fa fa-ticket"></i></span>
            </a>
            <!-- /.dashboard-stat -->
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat bg-danger" href="{% url 'subjects:subject_list' %}">
                <span class="number counter">{{ rejected }}</span>
                <span class="name">Courses Rejected</span>
                <span class="bg-icon"><i class="fa fa-ticket"></i></span>
            </a>
            <!-- /.dashboard-stat -->
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat bg-primary" href="{% url 'subjects:subject_list' %}">
                <span class="number counter">{{ pending }}</span>
                <span class="name">Courses Pending</span>
                <span class="bg-icon"><i class="fa fa-ticket"></i></span>
            </a>
            <!-- /.dashboard-stat -->
        </div>
        <!-- /.col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
    

        <!-- /.col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
    

        <!-- /.col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
    
    </div>
    <!-- /.row -->
{% endblock main_page_content %}

{% block javascript_code %}
    <script>
        $(function () {

            // Counter for dashboard stats
            $('.counter').counterUp({
                delay: 10,
                time: 1000
            });

            // Welcome notification
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["success"]("Welcome to student Result Management System!");

        });
    </script>
{% endblock javascript_code %}
    