
<div class="col-md-12">
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">
                <h5>
                    {% block panel_title %}
                        {{ panel_title }}
                    {% endblock panel_title %}</h5>
            </div>
        </div>
        <div class="panel-body p-20">
            <div id="example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
<!-- 
                    <div class="col-sm-6">
                        <div class="dataTables_length" id="example_length"><label>Show <select name="example_length" aria-controls="example" class="form-control input-sm">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select> entries</label>
                        </div>
                    </div>
 -->
                    <div class="col-sm-6 pagination">
                        <span class="step-links">
                            {% if object_list.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ object_list.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                            </span>
                            <span class="current">
                                No. {{ object_list.end_index }} of {{ object_list.paginator.count }}.
                            </span>

                            {% if object_list.has_next %}
                                <a href="?page={{ object_list.next_page_number }}">next</a>
                                <span>|</span>
                                <a href="?page={{ object_list.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>



                    <div class="col-sm-6">
                        <div id="example_filter" data-url ="{% url 'ecfr_admin:search_table' %}" class="dataTables_filter">
                            {% if panel_name == 'Subjects' %}
                            <label title="Courses" id="label_id">
                            Search by Course Name:
                            {% elif panel_name == 'Students' %}
                            <label title="Students Mat No" id="label_id">
                            Search by Mat No:
                            {% elif panel_name == 'Hod' %}
                            <label title="Hod ID" id="label_id">
                            Search by Mat No:
                            {% elif panel_name == 'Results' %}
                            <label title="Results" id="label_id">
                            Search by Mat No:
                            {% else %}
                            <label title="Result Files" id="label_id">
                            Search by Section:
                            {% endif %}

                                <input type="search" class="form-control input-sm" id="search"placeholder="type here" aria-controls="example">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="example" class="display table table-striped table-bordered dataTable" cellspacing="0" width="100%"
                            role="grid" aria-describedby="example_info" style="width: 100%;" data-url-course-status="{% url 'subjects:subject_status' %}">
                            <thead>
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="#: activate to sort column ascending"
                                        style="width: 30px;">#</th>
            
                                    {% for field in field_list %}
                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="{{ field }}: activate to sort column ascending"
                                        style="width: auto;">{{ field }}</th>
                                    {% endfor %}
            
                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending"
                                        style="width: 86px;">Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1">#</th>
            
                                    {% for field in field_list %}
                                    <th rowspan="1" colspan="1">{{ field }}</th>
                                    {% endfor %}
            
                                    <th rowspan="1" colspan="1">Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                

